<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>404 - KdoDanesPospravlja</title>
    
    <link rel="shortcut icon" type="image/x-icon" href="./img/black-logo.png">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="./css/style.css">

</head>
<body>

    <div class="d-flex vh-100">
        <div class="container align-self-center">
            <div class="justify-content-center align-items-center">
                <div class="text-center mb-2">
                    <img src="./img/404.svg" alt="Page Not Found" width="400" class="img-fluid">
                </div>
                <div class="text-center p-4">
                    <h1 class="display-6 fw-bold text-bright-pink">Pojdite domov!</h1>
                    <p class="lead">Žal nam je, toda stran, ki ste jo iskali, ne obstaja...</p>
                    <a href="index" class="text-decoration-none"><button class="button-80 px-5">Domov</button></a>
                </div>
            </div>
        </div>
    </div>

</body>
</html>